apiVersion: v1
kind: Service
metadata:
  name: prometheus
spec:
  selector:
    app: prometheus
  ports:
    - port: 9090
      targetPort: 9090
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus:latest
          command:
            - sh
            - -c
            - |
              cat <<EOF > /etc/prometheus/prometheus.yml
              global:
                scrape_interval: 5s
              scrape_configs:
                - job_name: "aspnet"
                  static_configs:
                    - targets: ["agrosolutions-identity-api"]
                    - targets: ["agrosolutions-property-api"]
                    - targets: ["agrosolutions-ingest-api"]
                    - targets: ["agrosolutions-azurefunction-functions"]
              EOF
              /bin/prometheus --config.file=/etc/prometheus/prometheus.yml
          ports:
            - containerPort: 9090